.backgroundimg{
    width: inherit;
    height: 200px;
    border-radius: 12px 12px 0 0;
}
.backgroundimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}
.mainAvatar{
    max-width: 200px;
    border-radius: 100px;
}
