.sidebar{
    width: 200px;
    min-height: 580px;
    background: #fff;
}
.sidebar .item{
    list-style-type: none;
}
.item img{
    width: 40px;
    height: 40px;
    padding-right: 10px;
}
.item a{
    text-decoration: none;
    color: #5850EC;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
}
.item a:hover{
    background: #F5F6F8;
}
.item .activeLink{
    color: darkturquoise;
}
@media screen and (max-width:860px) {
    .sidebar {
        width: inherit;
        min-height: 100px;
        background: orange;
        margin-top: 5px;
        padding-right: 10px;
        text-align: center;
    }
}
@media screen and (max-width:860px) {
    .sidebar ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}