.Profile .backgroundimg{
    width: inherit;
    min-height: 200px;
    background-image: url("../../img/about_wroclaw.png");
    background-size: cover;
    margin-top: -80px;
}

@media screen and (max-width:860px) {
    .Profile{
        width: inherit;
    }
}