.container {
  margin: 0 auto;
  min-height: inherit;
  max-width: 1200px;
  font-size: 25px;
}

.wrap {
  display: flex;
  overflow: hidden;
}

.content {
  min-height: 580px;
  width: 100%;
  background: #ffffff;
  padding: 0 20px;
}

@media screen and (max-width: 860px) {
  .wrap {
    flex-direction: column;
    justify-content: center;
  }
}





