.container {
  max-width: 1024px;
  margin: 0 auto;
  min-height: inherit;
}

.wrap {
  display: flex;
  overflow: hidden;
}

.content {
  min-height: 580px;
  width: 100%;
  background: burlywood;
}

@media screen and (max-width: 860px) {
  .wrap {
    flex-direction: column;
    justify-content: center;
  }
}





