.container{
  max-width: 1024px;
  margin: 0 auto;
  min-height: inherit;
}
.wrap{
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width:860px) {
  .wrap {
    flex-direction: column;
    justify-content: center;
  }
}





